* {
  font-family: 'Fira Code', monospace;
  font-size: 20px;
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 3px;
  background: rgb(237,237,237);
  background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(219,219,219,1) 50%, rgba(241,241,241,1) 100%);
}

.game-container {
  /*max-width: 640px;*/
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  /*background: -webkit-linear-gradient(#58a5ff, #a900f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  margin-bottom: 0px;
}

.rounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.round-label {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 30px;
}

.guessing-area {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}

.guess {
  min-width: 200px;
  max-width: 300px;
  height: 328px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 19px;
  border-radius: 25px;
}

.guess-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.guess-label {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 5px;
}

.score-label {
  display: none;
  font-size: 16px;
  font-weight: 700;
  color: #a900f6;
  background: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0;
}

.target-guess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.computer-guess {
  background-color: #ececec;
}

.human-guess {
  border: 1px solid #006ff6;
  background-color: #ececec;
}

.guess input {
  height: 90px;
  width: 90px;
  font-size: 20px;
  border: 1px solid #006ff6;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 7px;
}

.number-controls {
  font-size: 0;
  margin-bottom: 23px;
}

.number-control {
  border: 1px solid #006ff6;
  display: inline-block;
  width: 45px;
  height: 35px;
  font-size: 24px;
  font-weight: 400;
  color: #006ff6;
  cursor: pointer;
}

.number-controls button[disabled] {
  color: #dfdfdf;
  cursor: default;
}

.left {
  border-top-left-radius: 22.5px;
  border-bottom-left-radius: 22.5px;
}

.right {
  border-top-right-radius: 22.5px;
  border-bottom-right-radius: 22.5px;
  border-left-width: 0px;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.button {
  cursor: pointer;
  border-radius: 25px;
}

.button[disabled] {
  background-color: #d2d2d2;
  color: #a0a0a0;
  cursor: default;
}

#guess {
  padding: 10px 20px;
  border: none;
  font-weight: 400;
  border: 1px solid #006ff6;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#next-round {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  margin: 20px auto;
  border: 1px solid #006ff6;
}

.instructions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.instruction {
  width: 350px;
  padding: 2px;
  text-align: center;
}

.instructions h3 {
  font-size: 14px;
}

.winning-text, .winning-text[disabled] {
  color: #000;
  font-weight: 400;
}
