* {
  font-family: 'Fira Code', monospace;
  font-size: 18px;
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 3px;
  background: rgb(237,237,237);
  background: linear-gradient(180deg, rgb(240, 240, 240) 0%, rgb(234, 234, 234) 50%, rgba(241,241,241,1) 100%);
}

.container {
  margin: 0;
  min-height: 100vh;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  /*background: -webkit-linear-gradient(#58a5ff, #a900f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  margin: 50px 0 20px;
}

.rounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.round-label {
  font-size: 20px;
  font-weight: 400;
  margin: 0 auto 10px;
}

.outline {
  border: 1px solid rgb(127, 197, 255);
  border-radius: 25px;
  padding: 6px 12px;
}

.voting-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto 100px;
  gap: 20px;
}

.option-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 20px;
  background: rgb(237,237,237);
  border: 1px solid rgb(127, 197, 255);
  border-radius: 25px;
}

.stats-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 20px;
  gap: 20px;
  background: rgb(237,237,237);
  border: 1px solid rgb(127, 197, 255);
  border-radius: 25px;
}

.value-options {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  padding: 19px;
  border-radius: 25px;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

.card-label {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0 0 10px;
}

.option-card {
  background-color: rgb(230, 230, 230);
  height: auto;
}

.stats-card {
  background-color: rgb(230, 230, 230);
  width: 320px;
  height: 360px;
  align-content: left;
}

.history-card {
  background-color: rgb(230, 230, 230);
  width: 320px;
  height: 360px;
  justify-content: flex-start;
}

.card input {
  background: rgb(250, 250, 250);
  height: 60px;
  width: 90px;
  font-size: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
}

.number-controls {
  font-size: 0;
  margin-bottom: 23px;
}

.number-control {
  border: 1px solid #000000;
  background: rgb(250, 250, 250);
  display: inline-block;
  width: 45px;
  height: 35px;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
}

.number-controls button[disabled] {
  color: #a0a0a0;
  cursor: default;
}

.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left-width: 0px;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.button {
  cursor: pointer;
  border-radius: 25px;
  background-color: rgb(250, 250, 250);
}

.button[disabled] {
  background-color: #d2d2d2;
  color: #a0a0a0;
  cursor: default;
}

.next-round-container {
  margin: 0 auto 30px;
}

#next-round {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  margin: 30px auto;
  border: 1px solid #000000;
}

#abstain {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  margin: 20px auto 0;
  border: 1px solid #000000;
}

#vote-button-a.button[disabled], #vote-button-b.button[disabled], #next-round.button[disabled], #abstain.button[disabled] {
  border: 1px solid #a0a0a0;
}

#vote-button-a, #vote-button-b {
  padding: 10px 12px;
  border: none;
  font-weight: 400;
  border: 1px solid #000000;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.stat {
  padding: 5px;
  margin: 0;
  width: 100%;
  text-align: left;
}

.instructions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.instruction {
  width: 350px;
  padding: 2px;
  text-align: center;
}

.instructions h3 {
  font-size: 14px;
}
