@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background: rgb(190,255,221);
    background: radial-gradient(circle, rgba(190,255,221,1) 0%, rgba(160,221,217,1) 60%);
    font-size: 16px;
    color: rgb(20, 20, 20);
}

body {
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    flex: 0 1 auto;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 200;
    font-size: clamp(1rem, calc(1rem + 1vw), 1.2rem);
    color: rgb(198, 245, 242);
    background: rgb(20,20,20);
    margin: 20px;
    text-align: center;
    padding: 2px 4px 4px 9px;
    border-radius: 4px;
}

a:hover {
    font-style: italic;
}

a.button {
    flex: 0 0 0;
    font-size: clamp(1rem, calc(1rem + 1vw), 1.4rem);
    font-weight: 500;
    text-decoration: none;
    color: rgb(20,20,20);
    background: none;
    margin: 20px;
    text-align: center;
    padding: 4px 4px 3px 6px;
    border: 2px solid rgb(20,20,20);
    border-radius: 4px;
}

#project-links {
    padding: 20px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
 	    opacity: 1;
    }
}

.fade-in {
	animation: fadeIn 1s;
  	opacity: 1;
}

.emoji {
    font-size: 26px;
    padding: 0 0 0 3px;
}

#about {
    padding: 20px;
    font-size: 1.8rem;
    text-align: justify;
    margin: 50px 20px 0px 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
