@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);
    font-size: 24px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(50px + 2vw);
    margin-bottom: calc(15px + 2vw);
}

h1 {
    font-weight: 400;
    font-size: calc(1.9rem + 1vw);
    margin: 20px calc(10px + 2vw);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
 	    opacity: 1;
    }
}

.fade-in {
	animation: fadeIn 1s;
  	opacity: 1;
}

@keyframes in {
    0%   {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes out {
    0%   {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes click {
    0%   {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.964);
    }
}

@keyframes hover {
    0%   {
        -webkit-transform: scale(1.03);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

#drip {
    background: rgb(63,199,251);
    background: radial-gradient(circle, rgba(222, 70, 252, 1) 0%, rgba(63, 199, 251) 68%);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: calc(1.9rem + 1vw);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: calc(70px + 1vw);
    letter-spacing: 1px;
    margin: 20px;
}

#drip:hover {
    cursor: pointer;
    -webkit-animation: hover 0.36s;
    animation: hover 0.36s;
}

#drip:active {
    -webkit-animation: click 0.18s ease-in-out;
    animation: click 0.18s ease-in-out;
}

@media (min-width: 0px) {
    #display {
        font-size: clamp(1rem, calc(1rem + 1vw), 1.5rem);
        margin: 30px 10%;
    }
}
  
@media (min-width: 1150px){
    #display {
        font-size: clamp(1.5rem, calc(1.5rem + 1vw), 1.8rem);
        margin: 30px 14%;
    }
}

#display {
    line-height: 1.3;
    letter-spacing: 0.22px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5%;
    background-color: rgb(233, 233, 233);
}

#darr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    margin: 80px 40px 140px;
    width: calc(80px + 1vw);
    height: calc(80px + 1vw);
    -webkit-animation: in 0.5s;
    animation: in 0.5s;
}

footer img:hover {
    -webkit-animation: out 0.5s;
    animation: out 0.5s;
}
